.defaultInput{
    color:black;
    padding:5px;    
    border:1px solid silver;    
}
.blockedWrapper{
    margin-bottom: 10px;
}
.inputHint{
    margin-bottom: 15px;
    display: block;
    color: rgb(245, 32, 32);
}